/* <!--=========================== General Styles =========================== --> */
body{
    background: 
    url('https://www.transparenttextures.com/patterns/axiom-pattern.png') repeat,
    linear-gradient(#040025, #000000);
    background-size: auto, cover;
}

.Main_Structure{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

/* <!--=========================== mailto Link  =========================== --> */
#contact_us{
  text-decoration: none;
}

/* <!--=========================== Submission Data  =========================== --> */
#Submission_Data_Header {
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
}

.Submission_Success{
    padding: 20px;
    border-radius: 8px;
    background:
    url('https://www.transparenttextures.com/patterns/axiom-pattern.png') repeat,
    linear-gradient(135deg, rgb(236, 232, 225), rgb(220, 215, 210));
    background-size: auto, cover;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.148);
    max-width: 750px;
    padding: 60px;
}
.ThankYou_Message h1 {
  font-size: 48px;
  color: #000000;
  text-align: center;
  font-weight: bolder;
}

.ThankYou_Message p {
  font-size: 24px;
  color: #000000;
}
.Next_Steps h2 {
  font-size: 28px;
  margin-top: 30px;
  color: #000000;
}

.Next_Steps p {
  font-size: 24px;
  margin: 10px;
  color: #000000;

}


/* <!--=========================== Return to Home Button =========================== --> */
.ReturnHome {
  margin-top: 40px;
}

.ReturnHome_Button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
    background-color: rgb(2, 154, 255);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
}

.ReturnHome_Button:hover {
   background-color: rgb(0, 108, 180);
}